.listCategory {
    padding: 16px;
    margin-bottom: 2rem;
}

.listCategoryHeader {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 19px;
}

.allCategory {
    width: 73px;
    height: 73px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7A7A7A;
}

.allCategory p{
    text-align: center;
}

.imgWrapper img {
    width: 50px;
    height: 50px;
   
}


.listCategoryMain {
    width: 350px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

}

