.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
}

.backArrow {
    color: #03AC0E;
    margin-right: 18px;
    cursor: pointer;
}

.detail {
    display: flex;
}

.searchIcon {
    display: flex;
}