.singleWrap {
    padding: 16px;
}

.singleWrap img {
    width: 343px;
    height: 200px;
    margin-bottom: 20px;
}

.singleCategory {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #7A7A7A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    width: 79px;
    height: 26px;
    background: #EBEBEB;
    border-radius: 100px;
    margin-bottom: 12px;

}

.singleTitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24px;
}

.singleDescription {
    margin-top: 24px;
}

.singleDescription span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.singleDescription p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7A7A7A;

}

.addProduct {
    margin: 20px 0 20px 0;
    align-items: center;
    padding: 16px 24px;
    width: 343px;
    height: 53px;
    background: #03AC0E;
    border: none;
    border-radius: 100px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}