.search {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: space-between;
}

.inputSearch {
    width: 250px;
    height: 41px;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 100px;
    font-size: 14px;
}

input {
    font-size: 14px !important;
    
}

.MuiFormLabel-root.Mui-focused {
    color: green !important;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: green !important;
  }
  

.searchIcon {
    position: absolute;
    color: #7a7a7a;
    left: 475px;
    top: 82px;
    width: 20px !important;
    height: 20px !important;
    pointer-events: none;
}

.filterIcon {
    width: 41px;
    height: 41px;
    background: #03AC0E;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
}