.store-wrap {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
}

.img-store {
    width: 74px;
    height: 74px;
}

.detailStore {
    margin-left: 16px;
}

.store {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.storeName {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: .5rem;
}

.storeStreet {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7A7A7A;
}

.rating {
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    display: flex;
    padding: 4px 8px;
    background: #03AC0E;
    border: 1px solid #EBEBEB;
    border-radius: 100px;
    color: #EBEBEB;
    font-size: 14px;
}

.rating p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #292929;
}

.storeBtn {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.storeBtn button{
    display: flex;
    justify-content: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 12px;
    width: 47px;
    height: 20px;
    background: rgba(3, 172, 14, 0.22);
    color: #03AC0E;
    border: 5px solid rgb(200 237 202);
    border-radius: 100px;
}

.express {
    display: flex;
    justify-content: center;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    width: 56px !important;
    height: 20px;
    background: #049C0E !important;
    color: #ffff !important;
    border: 5px solid #049C0E !important;
    border-radius: 100px;
}