.productMerchant {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.productMerchantMain {
    height: 282px;
    width: 104px;
    display: flex;
    flex-direction: column;
}

.productMerchantMain img {
    width: 104px;
    height: 104px;
    margin-bottom: 16px;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
}

.productMerchantMain p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    height: 52px;
}

.productMerchantMain b {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 16px;
}

.productMerchantMain button {
    padding: 8px;
    width: 104px;
    height: 37px;
    background: #FAFAFA;
    border: 1px solid #03AC0E;
    border-radius: 100px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #03AC0E;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 32px;

}