.background {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #cccc;
    display: flex;
    justify-content: center;
}

.main {
    height: 100%;
    width: 375px;
    background-color: white;

}

.line {
    margin-top: 20px;
    width: 100%;
    height: 8px;
    background: #F5F5F5;
}

.favoriteBtn {
    display: flex;
    justify-content: center;
}

.favoriteBtn button {
    position: relative;
    bottom: 32px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #F5F5F5;
    line-height: 18px;
    text-align: center;
    width: 159px;
    height: 34px;
    border: 5px solid #03AC0E;
    background: #03AC0E;
    box-shadow: 0px 8px 16px rgba(3, 172, 14, 0.24);
    border-radius: 16px;
    cursor: pointer;
}